/AppRegistro/nbproject/private/
/AppRegistro/build/
/16 - POO - Tablas/Tablas/nbproject/private/
/16 - POO - Tablas/Tablas/build/
/16 - POO -  UI - Tablas/Tablas/nbproject/private/
/16 - POO -  UI - Tablas/Tablas/build/
/17 - POO - UI - Base de datos/nbproject/private/
/17 - POO - UI - Base de datos/build/
