/AppRegistro/nbproject/private/
/AppRegistro/build/
/16 - POO - Tablas/Tablas/nbproject/private/
/16 - POO - Tablas/Tablas/build/
/16 - POO -  UI - Tablas/Tablas/nbproject/private/
/16 - POO -  UI - Tablas/Tablas/build/
/17 - POO - UI - Base de datos/nbproject/private/
/17 - POO - UI - Base de datos/build/
/17 - Base Datos MySQL/BaseDatos/nbproject/private/
/17 - Base Datos MySQL/BaseDatos/build/
/17 - POO - UI - Mysql/nbproject/private/
/17 - POO - UI - Mysql/build/
/18 - Cambio Contenedores/CambioContenedores/build/
/18 - Cambio Contenedores/CambioContenedores/nbproject/private/
/18 - POO - UI Cambio Contenedores/CambioContenedores/build/
/18 - POO - UI Cambio Contenedores/CambioContenedores/nbproject/private/
/18 - POO - UI - Cambio Contenedores/CambioContenedores/build/
/18 - POO - UI - Cambio Contenedores/CambioContenedores/nbproject/private/
/21 - CRUD_API_JAVA/ConsumoAPI/nbproject/private/
/21 - CRUD_API_JAVA/ConsumoAPI/build/
